<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="LocalCore" value="../Microsoft.OneWeek.Hack.Microids.Core/out"/><!--
        <add key="MyGet" value="https://pkgs.dev.azure.com/houstondata/_packaging/houstondata@Local/nuget/v3/index.json" />
        -->
    </packageSources>
</configuration>